.a{
     background-color: rgb(234, 88, 245);
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}
.b{
    height: 20px;
    width: 20px;
    background-color: rgb(5, 5, 5);
     left: 20px;
    top: 140px;
    position: absolute;
    
}
.c{
    height: 20px;
    width: 20px;
    background-color: rgb(5, 5, 5);
    top: 140px;
    position: absolute;
}